.container {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  width: 100%;
  margin-bottom: 20px;
  max-width: 1400px;
  margin: auto;
 
}
.aboutLeft {
  flex: 40%;
  padding: 0 4rem;
}
.aboutRight {
  display: flex;
  flex: 60%;
  background: #e8f9f8;
  /* z-index: 1; */
  border-radius: 24px;
}

.aboutLeft h3:first-child {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
  color: #c2edec;
}
.aboutLeft h2 {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  width: 60%;
  color: #655f5f;
}

.aboutLeft p:last-child {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 300;
  width: 80%;
  color: #655f5f;
}

.aboutLeftList {
  padding-left: 20px;
}
.aboutRightList {
  margin-top: 60px;
}

@media screen and (max-width: 936px) {
  .container {
    flex-direction: column;
  }
  .aboutLeft {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .aboutLeft h2 {
    width: 100%;
    text-align: center;
  }
  .aboutLeft p:last-child {
    width: 100%;
    text-align: center;
  }
  .aboutRight {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
