.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.categories2 {
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
  align-items: center;
}
/* @media screen and (max-width: 1161px) {
  .categories,
  .categories2 {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
  }
} */

@media screen and (min-width: 937px) and (max-width: 1160px) {
  .categories,
  .categories2 {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 996px) {
  .categories,
  .categories2 {
    flex-direction: column;

    margin: 0 auto;
    /* margin-bottom: 20px; */
  }
}
@media screen and (max-width: 550px) {
  .categories,
  .categories2 {
    flex-direction: column;

    margin: 0 auto;
  }
}
