.container {
  background: #efe9f5;
  padding: 4rem 0;
}
.containerItems {
  display: flex;
}
.footerLeft {
  width: 30%;
  padding-left: 40px;
}
.footerLeft h2 {
  font-size: 36px;
  line-height: 45px;

  color: #000000;
}
.footerLeft p {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  color: #6c6b7c;
}
.footerRight {
  display: flex;
  justify-content: center;
  margin: auto;
}

.footerMenus {
}
.footerMenus ul {
  list-style: none;
  line-height: 30px;
}
.footerMenus ul h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #a192b0;
}
.footerMenus li {
  font-size: 14px;
  line-height: 28px;
  color: #6c6b7c;
}
.LastP {
  font-size: 14px;
  padding-top: 40px;
  text-align: center;

  color: #6c6b7c;
}

@media screen and (max-width: 936px) {
  .containerItems {
    flex-direction: column;
  }
  .footerMenus li {
  }
  .footerLeft {
    width: 70%;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .footerRight {
    flex-wrap: wrap;
  }
  .footerMenus ul h2 {
    margin-left: -20px;
  }
  .footerMenus li {
    margin-left: -20px;
  }
}
