html,
body {
  padding: 0;
  margin: 0;
  background: #f5f3f3;
  font-family: "Cera Pro";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../public//font/Cera\ Pro\ Light.otf");
}
@font-face {
  font-family: "Cera Pro";
  src: url("../public/font/Cera\ Pro\ Bold.otf");
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/font/Cera\ Pro\ Medium.otf");
}
