.container {
  display: flex;
  position: relative;
}
.cardDiv {
  border: 1px solid #e5e5e5;
  padding: 0 1rem;
  margin: 0 1rem;
  border-radius: 9px;
}
.card {
  display: flex;
}

.img {
  transform: scale(1.2);
}
.cardImg {
  margin-top: 1.4rem;
  margin-right: 1rem;
}

.cardText h3 {
  color: #655f5f;
  margin-bottom: 4px;
}
.cardText h2 {
  font-style: normal;
  font-weight: 300px;
  color: #655f5f;
}
.titleText {
  font-size: 18px;
  line-height: 30px;
}
.cardText p {
  font-size: 15px;
  margin-top: 2px;
  color: #655f5f;
}

.cardP {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 14px;
  color: #73d88e;
}
.blur {
  position: absolute;
  width: 479px;
  height: 494.7px;
  border-radius: 50%;
  background: rgba(203, 254, 155, 0.158);
  filter: blur(10px);
  right: 0;
  top: 1550px;
}
@media screen and (max-width: 936px) {
  .cardDiv {
    max-width: 65%;
    margin: 0 auto;
  }
}
